<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Good Movies</title>

  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css
  ">
  <link rel="stylesheet" href="styles/styles.css">
</head>

<body>

  <div class="navigation">
    <div class="navigation__nav">
      <a href="/" class="navigation__nav-brand">Good Movies</a>
      <form action="/" class="navigation__nav-form">
        <input type="text" name="movie" placeholder="Enter movies or series name">
        <input type="submit" value="Search">
      </form>
    </div>
  </div>