<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Good Movies</title>

  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="style/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114324929-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-114324929-2');
  </script>

</head>

<body>

  <div class="navigation">
    <div class="navigation__nav">
      <a href="/" class="navigation__nav-brand">Good Movies</a>
      <form action="/" class="navigation__nav-form">
        <input type="text" name="movie" placeholder="Enter movies or series name">
        <input type="submit" value="Search">
      </form>
    </div>
  </div>